* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.nav-container {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    height: 92px;
    max-width: 1600px;
    padding: 16px 120px;
    justify-content: space-between;
}

.nav-container img {
    max-width: 139px;
}

.nav-menu ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

.btn {
    padding: 12.5px 16px;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #469165;
    font-weight: 400;
}

.banner {
    background: url("../assets/hero-bg.png");
    height: 674px;
    background-repeat: no-repeat;
    /* margin: 0px auto; */
}

.banner-content {
    text-align: center;
    padding: 154px 321px;
}

.early-access p {
    font-size: 16px;
    color: #469165;
}

.banner h1 {
    font-size: 72px;
    font-weight: bold;
}