* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.nav-container {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    height: 92px;
    /* max-width: 1600px; */
    padding: 16px 120px;
    justify-content: space-between;
}

.nav-container img {
    max-width: 139px;
}

.nav-menu ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

.btn {
    padding: 12.5px 16px;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #469165;
    font-weight: 400;
}

.banner {
    background: url("../assets/hero-bg.png");
    height: 674px;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin: 0px auto; */
}

.banner-content {
    text-align: center;
    padding: 154px 321px;
}

.bg-ea {
    background-color: #FFFFFF;
    padding: 8px 15px;
    border-radius: 20px;
}


.early-access p {
    font-size: 16px;
    color: #469165;
}

.banner-heading {
    margin: 16px 0px;
}

.banner h1 {
    font-size: 72px;
    font-weight: bold;
}

.banner .banner-heading-1 {
    color: #FFFFFF;
}

.banner .banner-heading-2 {
    color: #30B868;
}

.banner-paragraph {
    color: #FFFFFF;
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 24px;
}

.card-panel{
    height: 500px;
    background-color: #FBFBFB;
}

.card {
    width: 322px;
    height: 300px;
    box-shadow: 0 6px 50px 0 #00000011;;
    background-color: #FFFFFF;
    border-radius: 8px;
    text-align: center;
}

.card-panel-head {
    text-align: center;
    padding-top: 50px;
}

.card-panel-head h1 {
    color: #001931;
    font-size: 48px;
}

.card-panel-head p {
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
}

.card-panel-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-top: 44px;
}

.card-shape-circle {
    background-color: #F95555;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    text-align: center;
    align-content: center;
}

.card-shape-circle img {
    height: 32px;
    width: 32px;
}