* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.nav-container {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    height: 92px;
    /* max-width: 1600px; */
    padding: 16px 120px;
    justify-content: space-between;
}

.nav-container img {
    max-width: 139px;
}

.nav-menu ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

.btn {
    padding: 12.5px 16px;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #469165;
    font-weight: 500;
    display: inline-flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    height: 52px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #3e7957;
}

.btn-2 {
    background-color: transparent;
    border: 2px solid white;
}

.btn-2:hover {
    background-color: transparent;
    border: 2px solid #3e7957;
}

.banner-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.btn img {
    height: 20px;
    width: 20px;
}


.banner {
    background: url("../assets/hero-bg.png");
    height: 674px;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin: 0px auto; */
}

.banner-content {
    text-align: center;
    padding: 154px 321px;
}

.bg-ea {
    background-color: #FFFFFF;
    padding: 8px 15px;
    border-radius: 20px;
}


.early-access p {
    font-size: 16px;
    color: #469165;
}

.banner-heading {
    margin: 16px 0px;
}

.banner h1 {
    font-size: 72px;
    font-weight: bold;
}

.banner .banner-heading-1 {
    color: #FFFFFF;
}

.banner .banner-heading-2 {
    color: #30B868;
}

.banner-paragraph {
    color: #FFFFFF;
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 24px;
}

.card-panel{
    height: 448px;
    background-color: #FBFBFB;
    overflow: hidden;
}

.card {
    width: 322px;
    height: 300px;
    box-shadow: 0 6px 50px 0 #00000011;;
    background-color: #FFFFFF;
    border-radius: 8px;
    text-align: center;
    z-index: 1;
}

.card-panel-head {
    text-align: center;
    padding-top: 50px;
}

.card-panel-head h1 {
    color: #001931;
    font-size: 48px;
}

.card-panel-head p {
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
}

.card-panel-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-top: 44px;
}

.card-shape-circle {
    background-color: #F95555;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-shape-circle img {
    height: 32px;
    width: 32px;
}

.card-icon {
    display: flex;
    justify-content: center;
    margin-top: 69px;
    margin-bottom: 16px;
}

.card h3 {
    color: #001931;
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
}

.card p {
    color: #627382;
    margin: 0px 24px;
    line-height: 20px;
    margin-top: 16px;
}

.knowledge-section {
    height: 840px;
    background-color: #FFFFFF;
    padding: 120px;
}

.knowledge-content {
    display: flex;
    justify-content: center;
}

.knowledge-details {
    padding: 102px 60px;
}

#knowledge-details-p-1 {
    color: #469165;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

.knowledge-details h1 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}

#knowledge-details-p-2 {
    color: #627382;
    margin-top: 16px;
}

.knowledge-check-points {
    margin-top: 40px;
}

.knowledge-check-p {
    margin-bottom: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.early-section {
    height: 507px;
}

.early-content {
    height: 385px;
    width: 85%;
    border-radius: 12px;
    background-color: #F7F6F2;
    margin: 0px 120px 120px 120px;
    text-align: center;
}

.early-content h1 {
    padding-top: 80px;
    font-size: 40px;
    font-weight: bold;
}

.early-content p {
    color: #627382;
    font-size: 16px;
    margin-top: 16px;
}

#ea-p1 {
    line-height: 24px;
}

.early-content button {
    margin-top: 24px;
}

#ea-p2 {
    line-height: 20px;
}

.footer-content {
    background-color: #001931;
    height: 348px;
    padding: 120px 120px 0px 120px;
}

.footer-mid {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links p {
    color: #FFFFFF;
    margin-right: 100px;
    font-size: 20px;
    line-height: 28px;
}

.social-icons {
    color: #001931;
    margin-top: 16px;
}
.social-icons i {
    background-color: #FAFAFA;
    border-radius: 50%;
    padding: 2px;
    margin-right: 16px;
    cursor: pointer;
}

.footer-bottom {
    height: 50px;
    text-align: center;
    padding-top: 24px;
    color: #FAFAFA;
    margin-top: 80px;
}

